################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/*
/obj/*
/Tests/Labs_sk01/bin/Debug/net8.0
